{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <!-- Admin tasks -->
            {% if user%}
            <div>
                <a href="{{ url_for('register_device') }}">Register a device</a>
            </div>
            <div>
                <a href="{{ url_for('assign_patients') }}">Assign Patients</a>
            </div>
            {% elif user==mp%}
            <!-- MP tasks -->
            <div>
                <a href="{{ url_for('assign_device') }}">Assign Device</a>
            </div>
            <div>
                <a href="{{ url_for('data_push') }}">Add Data</a>
            </div>
            {% elif user==patient%}
            <!-- Patient tasks -->
            <div>
                <a href="{{ url_for('data_push') }}">Add Data</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}