{% extends "layout.html" %}
{% block body %} 
<div class="container">
    <div class="navbar">
        <a href="{{ url_for('home', role=session['role']) }}">Home</a>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register_device') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Device ID</label>
                    <input type="number" class="form-control" name="device_id" placeholder="Device ID"> 
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Device Type</label>
                    <input type="text" class="form-control" name="device_type" placeholder="Device Type">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}

